@model IEnumerable<WebApplication1.Models.Multyproperty>

@{
    ViewBag.Title = "Multipropietarios";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
@{
    var comunas = new List<string> { "Estación Central", "Huechuraba", "Las Condes", "La Dehesa", "La Florida", "La Reina", "Lo Barnechea", "Lo Espejo", "Ñuñoa", "Quilicura", "Santiago", "Vitacura" };
}
@using (Html.BeginForm("Index", "Multyproperties", FormMethod.Post, new { route = "Multyproperties/index", id = "filterForm" }))
{
    <p>
        Comuna: @Html.DropDownList("commune",new SelectList(comunas), "-- Seleccione una comuna --")
        Manzana: @Html.TextBox("block")
        Predio: @Html.TextBox("site")
        Año: @Html.TextBox("year")
        <button type="submit" class="btn btn-primary">Filtrar</button>
        <button type="button" class="btn btn-secondary" onclick="clearForm()">Limpiar</button>
    </p>
}
<table class="table">
    <tr>

        <th>
            Porcentage
        </th>
        <th>
            Rut
        </th>
        <th>
            Comuna
        </th>
        <th>
            Manzana
        </th>
        <th>
            Predio
        </th>

        <th>
            Foja
        </th>
        <th>
            N° de Inscripción
        </th>
        <th>
            Año de Inscripción
        </th>
        <th>
            Fecha de Inscripción
        </th>
        <th>
            Vigencia Inicial
        </th>
        <th>
            Vigencia Final
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comunne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Page)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscriptionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscriptionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscriptionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartCurrencyYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCurrencyYear)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |

                @Html.ActionLink("Eliminar", "Delete", new { comunne = item.Comunne, block = item.Block, site = item.Site, rut = item.Rut, atentionNumber = item.AtentionNumber })
            </td>
        </tr>
    }

</table>
<script>
    function clearForm() {
        document.getElementById("commune").value = "";
        document.getElementById("block").value = "";
        document.getElementById("site").value = "";
        document.getElementById("year").value = "";
        var form = document.getElementById("filterForm");
        form.submit();
    }</script>