@model WebApplication1.Models.Inscription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CNE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNE)
        </dd>

        <dt>
            Comuna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comunne)
        </dd>

        <dt>
            Manzana
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Block)
        </dd>

        <dt>
            Predio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>

        <dt>
            Foja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Page)
        </dd>

        <dt>
            Numero de Inscripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InscriptionNumber)
        </dd>

        <dt>
            Fecha de Inscripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InscriptionDate)
        </dd>
        <dt>
            Enajenantes
        </dt>
        <dd>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>RUT Enajenante</th>
                        <th>% de Derecho</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var alienator in Model.Alienators)
                    {
                        <tr>
                            <td>@alienator.Person.Rut</td>
                            @if (alienator.Percentage == -1)
                            {
                                <td> </td>
                            }
                            else
                            {
                                <td>@alienator.Percentage</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        <dt>
            Adquirientes
        </dt>
        <dd>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>RUT Adquiriente</th>
                        <th>% de Derecho</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var acquirer in Model.Acquirers)
                    {
                        <tr>
                            <td>@acquirer.Person.Rut</td>
                            @if (acquirer.Percentage == -1)
                            {
                                <td> </td>
                            }
                            else
                            {
                                <td>@acquirer.Percentage</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AtentionNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
