@model IEnumerable<WebApplication1.Models.Inscription>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Numero de Atencón
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNE)
        </th>
        <th>
            Comuna
        </th>
        <th>
            Manzana
        </th>
        <th>
            Predio
        </th>
        <th>
            Foja
        </th>
        <th>
            Numero de Inscripcíon
        </th>
        <th>
            Fecha de Inscripción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AtentionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comunne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Block)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Page)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InscriptionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InscriptionDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AtentionNumber }) |
            @Html.ActionLink("Details", "Details", new { id = item.AtentionNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AtentionNumber })
        </td>
    </tr>
}

</table>
